<form [formGroup]="registrationForm">
  <div class="form-container">
    <h2>Please fill Registration Form</h2>

    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Enter your Name</mat-label>
        <input matInput placeholder="John" [formControlName]="'name'" required>
        <mat-error *ngIf="registrationForm.get('name')?.invalid">Enter valid Name</mat-error>
      </mat-form-field>
    </div>

    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" [formControlName]="'email'" required>
        <mat-error *ngIf="registrationForm.get('email')?.invalid">Enter valid email</mat-error>
      </mat-form-field>
    </div>

    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Enter your Password</mat-label>
        <input matInput type="password" [formControlName]="'password'" required>
        <mat-error *ngIf="registrationForm.get('password')?.invalid">Enter valid password</mat-error>
      </mat-form-field>
    </div>

    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Enter your Bio</mat-label>
        <input matInput type="text" [formControlName]="'bio'" required>
        <mat-error *ngIf="registrationForm.get('bio')?.invalid">Enter valid bio</mat-error>
      </mat-form-field>
    </div>

    <div class="example-button-row">
      <button mat-button mat-raised-button color="primary" (click)="submitRegistration()" [disabled]="registrationForm.invalid">Submit</button>
    </div>
  </div>
</form>

