<div class="form-container" *ngIf="profile$ | async as profile">
  <div class="profile-container">
    <mat-list>
      <mat-list-item> {{profile?.name}} </mat-list-item>
      <mat-list-item> {{profile?.email}} </mat-list-item>
      <mat-list-item> {{profile?.bio}} </mat-list-item>
    </mat-list>
  </div>
</div>
